{% extends 'base.html.twig' %}

{% block title %}Quora Clone{% endblock %}

{% block body %}
    <div class="container">

        {% for question in questions %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.question }}</h5>
                        <p class="text-muted">Asked by: {{ question.user.name }}</p>
                        <p class="card-text">
                            <small class="text-muted" style="font-size: 14px">
                                {% if question.likes != null %}
                                    👍
                                    {{question.likes }}
                                {% endif %}
                            </small>
                        </p>

                        <a href="{{ path("view_question", {id: question.id}) }}" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
