{% extends 'base.html.twig' %}
{% block title %}
    Ask a question
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create a question</h1>
        {{ form(form) }}
    </div>

{% endblock %}