{% extends 'base.html.twig' %}

{% block title %}
    {{ question.question|slice(0,10) }}
{% endblock %}

{% block body %}
    <div class="container">
        <div style="border: 1px solid lightgrey; border-radius: 8px;padding: 5px">
            <h1>{{ question.question }}</h1>
            <p class="text-muted">Asked by: {{ question.user.name }}</p>
            {% if question.likes != null %}
                <p>👍🏻 {{ question.likes }}</p>
            {% endif %}
        </div>
        <div>
            <h3>Answers: </h3>
            {% if question.answers == null %}
                <p>No Answers yet</p>
            {% endif %}
            
        </div>

    </div>

{% endblock %}